# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hardhat
/cache/
/typechain-types/

# Ignore Hardhat build artifacts but keep the final JSON ABI
/artifacts/build-info/
/artifacts/**/*.dbg.json

# Also ignore the artifacts that are copied to the frontend
frontend/src/artifacts/build-info/
frontend/src/artifacts/**/*.dbg.json

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Local Hardhat network
hardhat_chainId
hardhat_node

# Frontend
frontend/.env
frontend/.pnp
frontend/build/
frontend/node_modules/
frontend/.eslintcache
frontend/coverage/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Hardhat
/cache/
/artifacts/
/typechain-types/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
